{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>見込み客一覧</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/future_client.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'admin/js/footer-move.js' %}"></script>
	
</head>
<body id="body">
<form name="read" action="/a" method="POST" id="form" enctype="multipart/form-data">{% csrf_token %}
	<div class="row" id="row">
		<div class="col-12">
			<header id="header">
				
				<table class="menu" align="center" id="menu">
					
					<tr>
						<th width="20%"><a class="menu-title" href="{% url 'home_display' %}">ホーム</a></th>
						<th width="20%"><a class="menu-title" href="{% url 'client' %}">見込み客</a></th>
						<th width="20%"><a class="menu-title" href="#">連絡先</a></th>
						<th width="20%"><a class="menu-title" href="{% url 'business_talk' %}">商談</a></th>
						<th width="20%"><a class="menu-title" href="{% url 'setting_password' %}">設定</a></th>
					</tr>
				</table>
			</header>
			<div class="header2" id="header2"></div>
			<div class="import-btn-box" id="import-btn-box">
				<!-- <input type="file" accept='text/csv' name="file"> -->
				{% if error %}
				<p class="error">{{error}}</p>
				{% endif %}
				{{form2.file}}
				<button class="import-btn" type="submit" formaction="{% url 'file_import' %}">インポート</button>

				<!-- <input type="file" accept='text/csv'> -->
				<button class="import-btn" type="submit" formaction="{% url 'create_mail' %}">メール作成</button>

			</div>
			<div class="row" id="move">
				<div class="col-3">
					<div class="wrapper">
						<div class="search-client-box">
							{{form.search_box}}<br>
							<button class="search-btn" type="submit" formaction="{% url 'search_connection' %}">検索</button>
						</div>
						<div class="radio-box">
							{% for i in form.radio %}
      							{{ i }}<br>
    						{% endfor %}

						</div>
					</div>
				</div>
				<div class="col-9">
					<div class="wrapper2">
						<table border=1 class="client-table">
							<tr>
								<th>氏名</th>
								<th>会社</th>
								<th>メール</th>
								<th>電話番号</th>
								<th></th>
							</tr>
							{% for i in clients %}
							<tr>
								<td>{{i.clients_name}}</td>
								<td>{{i.company}}</td>
								<td>{{i.clients_mail}}</td>
								<td>{{i.tel}}</td>
								<td><button name="edit_btn_{{i.company_id}}" class="edit-btn" type="submit" formaction="{% url 'edit_connection' %}">編集</button></td>
							</tr>
							{% endfor %}
							<!-- <tr>
								<td>テクサポ太郎</td>
								<td>株式会社Alice</td>
								<td>7416094@gmail.com</td>
								<td>080-2675-2670</td>
								<td><button name="edit_btn_{{i.company_id}}" class="edit-btn" type="submit" formaction="{% url 'edit_clients' %}">編集</button></td>
							</tr> -->
							
						</table>
					</div>
				</div>
			
			
				
			</div>
			<div class="footer2"></div>
				<footer id="footer">
						<h3 class="footer-title">TECHSAPO for CRM</h3>
				</footer>
		
		</div>
	</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</form>
</body>
</html>