{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>商談新規作成</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/create_business_talk.css' %}">
</head>
<body>
<form name="read" action="/a" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div class="row">
		<div class="col-12">
			

			<header id="header">
				
				<table class="menu" align="center" id="menu">
					
					<tr>
						<th width="20%"><a class="menu-title" href="{% url 'home_display' %}">ホーム</a></th>
						<th width="20%"><a class="menu-title" href="{% url 'client' %}">見込み客</a></th>
						<th width="20%"><a class="menu-title" href="{% url 'connection' %}">連絡先</a></th>
						<th width="20%"><a class="menu-title" href="#">商談</a></th>
						<th width="20%"><a class="menu-title" href="{% url 'setting_password' %}">設定</a></th>
					</tr>

				</table>
			</header>
			<div class="header2" id="header2"></div>
			<h3>商談情報</h3>
			<div class="row">
				<div class="col-4">
					{{form.index.as_hidden}}
					
					<table class="client-input-table">
						{{form.index.as_hidden}}
						<tr>
							<th class="client-input-th">{{form.name.label}}</th>
							<td class="client-input-td">{{form.name}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.company.label}}</th>
							<td class="client-input-td">{{form.company}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.mail.label}}</th>
							<td class="client-input-td">{{form.mail}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.tel.label}}</th>
							<td class="client-input-td">{{form.tel}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.client_name.label}}</th>
							<td class="client-input-td">{{form.client_name}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.web.label}}</th>
							<td class="client-input-td">{{form.web}}</td>
						</tr>
						
					</table>
				</div>
				<div class="col-4">
					
					
					<table class="client-input-table">
						<tr>
							<th class="client-input-th">{{form.accuracy.label}}</th>
							<td class="client-input-td">{{form.accuracy}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.next_step.label}}</th>
							<td class="client-input-td">{{form.next_step}}</td>
						</tr>
						<tr>
							<th class="client-input-th">{{form.date.label}}</th>
							<td class="client-input-td">{{form.date}}</td>
						</tr>
						
						<tr>
							<th class="client-input-th">{{form.stage.label}}</th>
							<td class="client-input-td">{{form.stage}}</td>
						</tr>
						
					</table>

				</div>
				<div class="col-4">
					<tr>
							<th class="client-input-th">{{form.content.label}}</th>
							<td class="client-input-td">{{form.content}}</td>
					</tr>
					<tr>
							<th class="client-input-th">{{form.memo1.label}}</th>
							<td class="client-input-td">{{form.memo1}}</td>
					</tr>
					<tr>
							<th class="client-input-th">{{form.memo2.label}}</th>
							<td class="client-input-td">{{form.memo2}}</td>
					</tr>
				</div>
				<div class="save-btn-box">
						<button type="submit" class="save-btn" formaction="{% url 'save_business_talk' %}">保存</button>
				</div>

			<div class="footer2"></div>
			<footer id="footer">
					<h3 class="footer-title">TECHSAPO for CRM</h3>
			</footer>

		</div>
	</div>
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</form>
</body>
</html>